*{
    margin:0px;
    padding: 0px;
}
#box{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* border: 1px solid red; */
    overflow: hidden;
}
#box  #top{
    height: 110px;
    position: fixed;
    background: #0092FF; 
    top: 0;
    left: 0;
    width: 100%;
}
#top img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-top: 25px;
    margin-left: 20px;
    float: left;
}
#top .title{
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
    margin-top: 30px;
    position: relative;
    left: 20px;
}

.titles span{
    color: #fff;
    font-size: 12px;
    position: relative;
    top: -1px;
}

/* <!-- 红包、金币 --> */
.center{
    height: 470px;
    width: 100%;
    /* border: darkgoldenrod 1px solid; */
    margin-top: 110px;
 }
 .icon{
    height: 90px;
    width: 100%;
    background: #ECECEC;
    display: flex;
    justify-content: space-between;
 }
 .icon div{
    background: #fff;
    width: 49.8%;
 }
 .icon .red img{
    margin-top: 20px;
    color: #FF5F3E;
    width: 30px;
    height: 30px;
    margin-left: 75px;
 }
 .icon .red p{
    margin-left: 75px;
    font-size: 14px;
    color: #666666;
 }
.money .money-box{
    width: 30px;
    height: 30px;
    background: #6AC20B;
    border-radius: 100%;
    margin-top: 20px;
    margin-left: 75px;
}
.money .money-box img{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 5px;
 }
 .icon .money p{
    margin-left: 75px;
    margin-top: 5px;
    font-size: 14px;
    color: #666666;
 }
/* 隐私 */
.privacy{
   margin-left: 150px;
   margin-top: 20px;
   color: #4DA6F0;
}                
/* 菜单 */
 .end{
    height: 55px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
    background: #fff;
}
.end ul{
    margin-left: 40px;
    position: absolute;
}
.end ul li{
    list-style: none;
    float: left;
    margin-right: 55px;
}

.end ul li p{
    color: #fff;
    font-size: 12px;
    position: relative;
    right: 2px;
    top: -5px;
    color: #818181;
}
