<% include base/head.ejs %>
<div class="nav">
  <div class="nav-left">
    <ul class="nav-content">
      <li>TCL新闻</li>
      <li>企业采购</li>
      <li>经销商之家</li>
      <li>用户体验中心</li>
      <li>铁粉社区</li>
      <li>人才招聘</li>
    </ul>
  </div>
  <div class="nav-right">
    <li class="login"><%= nickName%></li>
    <li class="register">注册
      <span class="ver">|</span>
    </li>
    <li class="shopping">购物车
      <span class="ver">|</span>
    </li>
    <li class="weixin">微信商城
      <span class="ver">|</span>
    </li>
  </div>
</div>
<% include base/foot.ejs %>